/* Base styles for Sucre */
:root {
  color-scheme: dark;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for a luxury feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #d4af3522;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4af3544;
}